.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 96px 0px;
}
:where(.section > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.section > *) {
    grid-column: 4;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.text___5SkC0 {
  position: relative;
  width: 100%;
  height: 303px;
  padding-bottom: 0px;
  margin-bottom: 109px;
  min-width: 0;
}
.freeBox__xt5CP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gkgqH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 824px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nexBv {
  width: 100%;
  height: 59px;
  max-width: 100%;
  color: #a3bd5c;
  font-size: 40px;
  margin-bottom: 30px;
  min-width: 0;
  flex-shrink: 0;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 533px;
  width: auto;
  flex-shrink: 0;
  margin: 0px 208px 16px 204px;
}
.img > picture > img {
  object-fit: contain;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
