@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Ceb23l3WCK408_font-family: "Inter", sans-serif;
  --mixin-Ceb23l3WCK408_font-size: 16px;
  --mixin-Ceb23l3WCK408_font-weight: 400;
  --mixin-Ceb23l3WCK408_font-style: normal;
  --mixin-Ceb23l3WCK408_color: #535353;
  --mixin-Ceb23l3WCK408_text-align: left;
  --mixin-Ceb23l3WCK408_text-transform: none;
  --mixin-Ceb23l3WCK408_line-height: 1.5;
  --mixin-Ceb23l3WCK408_letter-spacing: normal;
  --mixin-Ceb23l3WCK408_white-space: pre-wrap;
  --mixin-Ceb23l3WCK408_user-select: text;
  --mixin-Ceb23l3WCK408_text-decoration-line: none;
  --mixin-Ceb23l3WCK408_text-overflow: clip;
  --mixin-KHSMA3x9Mbbrj_color: #000000;
  --mixin-KHSMA3x9Mbbrj_font-weight: 700;
  --mixin-KHSMA3x9Mbbrj_font-size: 64px;
  --mixin-KHSMA3x9Mbbrj_line-height: 1;
  --mixin-KHSMA3x9Mbbrj_letter-spacing: -1px;
  --mixin-KHSMA3x9Mbbrj_white-space: pre-wrap;
  --mixin-ub14vVgIv5YeR_color: #000000;
  --mixin-ub14vVgIv5YeR_font-size: 48px;
  --mixin-ub14vVgIv5YeR_font-weight: 700;
  --mixin-ub14vVgIv5YeR_letter-spacing: -0.5px;
  --mixin-ub14vVgIv5YeR_line-height: 1.1;
  --mixin-ub14vVgIv5YeR_white-space: pre-wrap;
  --mixin-atpY02PTvEcYf_color: #0070f3;
  --mixin-atpY02PTvEcYf_white-space: pre-wrap;
  --mixin-yFSObI1k5e7na_color: #000000;
  --mixin-yFSObI1k5e7na_font-size: 32px;
  --mixin-yFSObI1k5e7na_font-weight: 600;
  --mixin-yFSObI1k5e7na_line-height: 1.2;
  --mixin-yFSObI1k5e7na_white-space: pre-wrap;
  --mixin-hIBB3sxVk-5YX_color: #000000;
  --mixin-hIBB3sxVk-5YX_font-size: 24px;
  --mixin-hIBB3sxVk-5YX_font-weight: 600;
  --mixin-hIBB3sxVk-5YX_line-height: 1.3;
  --mixin-hIBB3sxVk-5YX_white-space: pre-wrap;
  --mixin--xu6JvssZFhZg_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--xu6JvssZFhZg_border-bottom-color: #dddddd;
  --mixin--xu6JvssZFhZg_border-bottom-style: solid;
  --mixin--xu6JvssZFhZg_border-bottom-width: 1px;
  --mixin--xu6JvssZFhZg_border-left-color: #dddddd;
  --mixin--xu6JvssZFhZg_border-left-style: solid;
  --mixin--xu6JvssZFhZg_border-left-width: 1px;
  --mixin--xu6JvssZFhZg_border-right-color: #dddddd;
  --mixin--xu6JvssZFhZg_border-right-style: solid;
  --mixin--xu6JvssZFhZg_border-right-width: 1px;
  --mixin--xu6JvssZFhZg_border-top-color: #dddddd;
  --mixin--xu6JvssZFhZg_border-top-style: solid;
  --mixin--xu6JvssZFhZg_border-top-width: 1px;
  --mixin--xu6JvssZFhZg_border-bottom-left-radius: 3px;
  --mixin--xu6JvssZFhZg_border-bottom-right-radius: 3px;
  --mixin--xu6JvssZFhZg_border-top-left-radius: 3px;
  --mixin--xu6JvssZFhZg_border-top-right-radius: 3px;
  --mixin--xu6JvssZFhZg_font-family: "Inconsolata";
  --mixin--xu6JvssZFhZg_padding-bottom: 1px;
  --mixin--xu6JvssZFhZg_padding-left: 4px;
  --mixin--xu6JvssZFhZg_padding-right: 4px;
  --mixin--xu6JvssZFhZg_padding-top: 1px;
  --mixin--xu6JvssZFhZg_white-space: pre-wrap;
  --mixin-rb_Dgh9plzKSN_border-left-color: #dddddd;
  --mixin-rb_Dgh9plzKSN_border-left-style: solid;
  --mixin-rb_Dgh9plzKSN_border-left-width: 3px;
  --mixin-rb_Dgh9plzKSN_color: #888888;
  --mixin-rb_Dgh9plzKSN_padding-left: 10px;
  --mixin-rb_Dgh9plzKSN_white-space: pre-wrap;
  --mixin-oRCSosxbbjuy7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oRCSosxbbjuy7_border-bottom-color: #dddddd;
  --mixin-oRCSosxbbjuy7_border-bottom-style: solid;
  --mixin-oRCSosxbbjuy7_border-bottom-width: 1px;
  --mixin-oRCSosxbbjuy7_border-left-color: #dddddd;
  --mixin-oRCSosxbbjuy7_border-left-style: solid;
  --mixin-oRCSosxbbjuy7_border-left-width: 1px;
  --mixin-oRCSosxbbjuy7_border-right-color: #dddddd;
  --mixin-oRCSosxbbjuy7_border-right-style: solid;
  --mixin-oRCSosxbbjuy7_border-right-width: 1px;
  --mixin-oRCSosxbbjuy7_border-top-color: #dddddd;
  --mixin-oRCSosxbbjuy7_border-top-style: solid;
  --mixin-oRCSosxbbjuy7_border-top-width: 1px;
  --mixin-oRCSosxbbjuy7_border-bottom-left-radius: 3px;
  --mixin-oRCSosxbbjuy7_border-bottom-right-radius: 3px;
  --mixin-oRCSosxbbjuy7_border-top-left-radius: 3px;
  --mixin-oRCSosxbbjuy7_border-top-right-radius: 3px;
  --mixin-oRCSosxbbjuy7_font-family: "Inconsolata";
  --mixin-oRCSosxbbjuy7_padding-bottom: 3px;
  --mixin-oRCSosxbbjuy7_padding-left: 6px;
  --mixin-oRCSosxbbjuy7_padding-right: 6px;
  --mixin-oRCSosxbbjuy7_padding-top: 3px;
  --mixin-oRCSosxbbjuy7_white-space: pre-wrap;
  --mixin-t21n8vwSNYyf6_display: flex;
  --mixin-t21n8vwSNYyf6_flex-direction: column;
  --mixin-t21n8vwSNYyf6_align-items: stretch;
  --mixin-t21n8vwSNYyf6_justify-content: flex-start;
  --mixin-t21n8vwSNYyf6_list-style-position: outside;
  --mixin-t21n8vwSNYyf6_padding-left: 40px;
  --mixin-t21n8vwSNYyf6_position: relative;
  --mixin-t21n8vwSNYyf6_list-style-type: disc;
  --mixin-t21n8vwSNYyf6_white-space: pre-wrap;
  --mixin-3GVn71i6gfBHM_display: flex;
  --mixin-3GVn71i6gfBHM_flex-direction: column;
  --mixin-3GVn71i6gfBHM_align-items: stretch;
  --mixin-3GVn71i6gfBHM_justify-content: flex-start;
  --mixin-3GVn71i6gfBHM_list-style-position: outside;
  --mixin-3GVn71i6gfBHM_padding-left: 40px;
  --mixin-3GVn71i6gfBHM_position: relative;
  --mixin-3GVn71i6gfBHM_list-style-type: decimal;
  --mixin-3GVn71i6gfBHM_white-space: pre-wrap;
  --mixin-qx9PQzwpSmA7A_color: #000000;
  --mixin-qx9PQzwpSmA7A_font-size: 20px;
  --mixin-qx9PQzwpSmA7A_font-weight: 600;
  --mixin-qx9PQzwpSmA7A_line-height: 1.5;
  --mixin-qx9PQzwpSmA7A_white-space: pre-wrap;
  --mixin--d9JdjSEzggXN_color: #000000;
  --mixin--d9JdjSEzggXN_font-size: 16px;
  --mixin--d9JdjSEzggXN_font-weight: 600;
  --mixin--d9JdjSEzggXN_line-height: 1.5;
  --mixin--d9JdjSEzggXN_white-space: pre-wrap;
  --mixin-pXmaqlDnyhXB__color: #3291ff;
  --mixin-pXmaqlDnyhXB__white-space: pre-wrap;
  --mixin-HBMUVpd7cczV1_white-space: pre-wrap;
  --mixin-cAW1WaMjztZS9_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Ceb23l3WCK408_font-family);
  font-size: var(--mixin-Ceb23l3WCK408_font-size);
  font-weight: var(--mixin-Ceb23l3WCK408_font-weight);
  font-style: var(--mixin-Ceb23l3WCK408_font-style);
  color: var(--mixin-Ceb23l3WCK408_color);
  text-align: var(--mixin-Ceb23l3WCK408_text-align);
  text-transform: var(--mixin-Ceb23l3WCK408_text-transform);
  line-height: var(--mixin-Ceb23l3WCK408_line-height);
  letter-spacing: var(--mixin-Ceb23l3WCK408_letter-spacing);
  white-space: var(--mixin-Ceb23l3WCK408_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-KHSMA3x9Mbbrj_color);
  font-weight: var(--mixin-KHSMA3x9Mbbrj_font-weight);
  font-size: var(--mixin-KHSMA3x9Mbbrj_font-size);
  line-height: var(--mixin-KHSMA3x9Mbbrj_line-height);
  letter-spacing: var(--mixin-KHSMA3x9Mbbrj_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ub14vVgIv5YeR_color);
  font-size: var(--mixin-ub14vVgIv5YeR_font-size);
  font-weight: var(--mixin-ub14vVgIv5YeR_font-weight);
  letter-spacing: var(--mixin-ub14vVgIv5YeR_letter-spacing);
  line-height: var(--mixin-ub14vVgIv5YeR_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-atpY02PTvEcYf_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-yFSObI1k5e7na_color);
  font-size: var(--mixin-yFSObI1k5e7na_font-size);
  font-weight: var(--mixin-yFSObI1k5e7na_font-weight);
  line-height: var(--mixin-yFSObI1k5e7na_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-hIBB3sxVk-5YX_color);
  font-size: var(--mixin-hIBB3sxVk-5YX_font-size);
  font-weight: var(--mixin-hIBB3sxVk-5YX_font-weight);
  line-height: var(--mixin-hIBB3sxVk-5YX_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--xu6JvssZFhZg_font-family);
  border-radius: var(--mixin--xu6JvssZFhZg_border-top-left-radius)
    var(--mixin--xu6JvssZFhZg_border-top-right-radius)
    var(--mixin--xu6JvssZFhZg_border-bottom-right-radius)
    var(--mixin--xu6JvssZFhZg_border-bottom-left-radius);
  padding: var(--mixin--xu6JvssZFhZg_padding-top)
    var(--mixin--xu6JvssZFhZg_padding-right)
    var(--mixin--xu6JvssZFhZg_padding-bottom)
    var(--mixin--xu6JvssZFhZg_padding-left);
  border-top: var(--mixin--xu6JvssZFhZg_border-top-width)
    var(--mixin--xu6JvssZFhZg_border-top-style)
    var(--mixin--xu6JvssZFhZg_border-top-color);
  border-right: var(--mixin--xu6JvssZFhZg_border-right-width)
    var(--mixin--xu6JvssZFhZg_border-right-style)
    var(--mixin--xu6JvssZFhZg_border-right-color);
  border-bottom: var(--mixin--xu6JvssZFhZg_border-bottom-width)
    var(--mixin--xu6JvssZFhZg_border-bottom-style)
    var(--mixin--xu6JvssZFhZg_border-bottom-color);
  border-left: var(--mixin--xu6JvssZFhZg_border-left-width)
    var(--mixin--xu6JvssZFhZg_border-left-style)
    var(--mixin--xu6JvssZFhZg_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-rb_Dgh9plzKSN_color);
  padding-left: var(--mixin-rb_Dgh9plzKSN_padding-left);
  border-left: var(--mixin-rb_Dgh9plzKSN_border-left-width)
    var(--mixin-rb_Dgh9plzKSN_border-left-style)
    var(--mixin-rb_Dgh9plzKSN_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oRCSosxbbjuy7_font-family);
  border-radius: var(--mixin-oRCSosxbbjuy7_border-top-left-radius)
    var(--mixin-oRCSosxbbjuy7_border-top-right-radius)
    var(--mixin-oRCSosxbbjuy7_border-bottom-right-radius)
    var(--mixin-oRCSosxbbjuy7_border-bottom-left-radius);
  padding: var(--mixin-oRCSosxbbjuy7_padding-top)
    var(--mixin-oRCSosxbbjuy7_padding-right)
    var(--mixin-oRCSosxbbjuy7_padding-bottom)
    var(--mixin-oRCSosxbbjuy7_padding-left);
  border-top: var(--mixin-oRCSosxbbjuy7_border-top-width)
    var(--mixin-oRCSosxbbjuy7_border-top-style)
    var(--mixin-oRCSosxbbjuy7_border-top-color);
  border-right: var(--mixin-oRCSosxbbjuy7_border-right-width)
    var(--mixin-oRCSosxbbjuy7_border-right-style)
    var(--mixin-oRCSosxbbjuy7_border-right-color);
  border-bottom: var(--mixin-oRCSosxbbjuy7_border-bottom-width)
    var(--mixin-oRCSosxbbjuy7_border-bottom-style)
    var(--mixin-oRCSosxbbjuy7_border-bottom-color);
  border-left: var(--mixin-oRCSosxbbjuy7_border-left-width)
    var(--mixin-oRCSosxbbjuy7_border-left-style)
    var(--mixin-oRCSosxbbjuy7_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-t21n8vwSNYyf6_display);
  flex-direction: var(--mixin-t21n8vwSNYyf6_flex-direction);
  align-items: var(--mixin-t21n8vwSNYyf6_align-items);
  justify-content: var(--mixin-t21n8vwSNYyf6_justify-content);
  list-style-position: var(--mixin-t21n8vwSNYyf6_list-style-position);
  padding-left: var(--mixin-t21n8vwSNYyf6_padding-left);
  position: var(--mixin-t21n8vwSNYyf6_position);
  list-style-type: var(--mixin-t21n8vwSNYyf6_list-style-type);
  flex-column-gap: var(--mixin-t21n8vwSNYyf6_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-3GVn71i6gfBHM_display);
  flex-direction: var(--mixin-3GVn71i6gfBHM_flex-direction);
  align-items: var(--mixin-3GVn71i6gfBHM_align-items);
  justify-content: var(--mixin-3GVn71i6gfBHM_justify-content);
  list-style-position: var(--mixin-3GVn71i6gfBHM_list-style-position);
  padding-left: var(--mixin-3GVn71i6gfBHM_padding-left);
  position: var(--mixin-3GVn71i6gfBHM_position);
  list-style-type: var(--mixin-3GVn71i6gfBHM_list-style-type);
  flex-column-gap: var(--mixin-3GVn71i6gfBHM_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-qx9PQzwpSmA7A_color);
  font-size: var(--mixin-qx9PQzwpSmA7A_font-size);
  font-weight: var(--mixin-qx9PQzwpSmA7A_font-weight);
  line-height: var(--mixin-qx9PQzwpSmA7A_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin--d9JdjSEzggXN_color);
  font-size: var(--mixin--d9JdjSEzggXN_font-size);
  font-weight: var(--mixin--d9JdjSEzggXN_font-weight);
  line-height: var(--mixin--d9JdjSEzggXN_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-pXmaqlDnyhXB__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
